.ScreenKeyboardPage {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.Panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px 24px;
    width: 380px;
    height: 100%;
    background: #86D3F4;
    border-top-left-radius: 3px;
}

.panelHeader {
    font-weight: normal;
    font-size: 26px;
    color: #000000;
}

.phone {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: #000000;
}

.phoneError {
    color: red;
}

.infoText {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 0 16px;
}

.ScreenKeyboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 284px;
    height: 278px;
}

.KeyboardKey {
    min-width: 88px;
    padding: 12px 30px 12px 30px;
    border: 2px solid #000000;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

.KeyboardKey:nth-of-type(10) {
    width: 186px;
}

.keyActive, .KeyboardKey:focus, .KeyboardKey:active, .KeyboardKey:hover{
    background: #000000;
    color: #FFFFFF;
    border: none;
}

.AgreeCheckbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 284px;
    height: 52px;
}

.inputWrapper {
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 2px solid #000000;
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
}

.radio:checked {
    background-image: url('../../../.././public/images/checkMark.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.labelRadio {
    font-weight: normal;
    font-size: 14px;
    color: #565656;
    text-align: left;
    margin-left: 20px;
    cursor: pointer;
}


.ButtonConfirmNumber {
    width: 284px;
    height: 52px;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.ButtonConfirmNumber:disabled {
    background: inherit;
    border: 1px solid #4E4E4E;
    color: #4E4E4E;
}

.ButtonConfirmNumber:focus {
    border: none;
}

.ImageInfoBlock {
    width: calc(100% - 380px);
    height: 100%;
    background-image: url('../../../.././public/images/boyAndDog.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.CancelButton {
    position: absolute;
    width: 88px;
    height: 52px;
    right: 1.56%;
    top: 2.78%;
    border: 2px solid #000000;
    background: #FFFFFF url('../../../.././public/images/cancelButton.png') no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.CancelButton:focus, .CancelButton:hover {
    border: none;
}

.qrCodeInfo {
    position: absolute;
    width: 314px;
    height: 110px;
    left: 926px;
    top: 570px;
}

.falseValid {
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #EA0000;
}