@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto sans-serif;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: #530755;
}

.screenWrapper {
  width: 1306px;
  height: 887px;
  background-image: url(../public/images/smarttv.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
}

.screen {
  position: relative;
  width: 1280px;
  height: 721px;
  margin: 15px auto 0;
  background: #000000;

}