.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: #530755;
}

.screenWrapper {
  width: 1306px;
  height: 887px;
  background-image: url(../public/images/smarttv.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
}

.PromoPage {
  position: relative;
  width: 1280px;
  height: 721px;
  margin: 15px auto 0;
  background: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.player {
  pointer-events: none;
}

.Banner {
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 176px;
  height: 387px;
  left: 1029px;
  top: 167px;
}

.active {
  opacity: 1;
  z-index: 100;
  transition: opacity 1.5s;
}

.bannerFrame {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px 10px 10px 10px;
  width: 251px;
  height: 357px;
  left: 0;
  top: 53px;
  background: #86D3F4;
}

.bannerHeader {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.qr-code {
  width: 126px;
  height: 126px;
}

.bannerText {
  width: 126px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.bannerButton {
  width: 156px;
  height: 52px;
  background: #000000;
  border: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #86D3F4;
  cursor: pointer;
}

.bannerButton:hover {
  background: #2a4362;
}

.ScreenKeyboardPage {
  width: 100%;
  height: 100%;
  background: aliceblue;
}