.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: #530755;
}

.screenWrapper {
  width: 1306px;
  height: 887px;
  background-image: url(../public/images/smarttv.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
}

.screen {
  position: relative;
  width: 1280px;
  height: 721px;
  margin: 15px auto 0;
  background: #000000;

}

.PromoPage {
  width: 100%;
  height: 100%;
}

.player {
  pointer-events: none;
}

.Banner {
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 176px;
  height: 387px;
  left: 1029px;
  top: 167px;
}

.active {
  opacity: 1;
  z-index: 100;
  transition: opacity 1.5s;
}

.bannerFrame {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px 10px 10px 10px;
  width: 251px;
  height: 357px;
  left: 0;
  top: 53px;
  background: #86D3F4;
}

.bannerHeader {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}

.qr-code {
  width: 126px;
  height: 126px;
}

.bannerText {
  width: 126px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}

.bannerButton {
  width: 156px;
  height: 52px;
  background: #000000;
  border: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #86D3F4;
  cursor: pointer;
}

.bannerButton:hover {
  background: #2a4362;
}

.ScreenKeyboardPage {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.Panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 40px 24px;
  width: 380px;
  height: 100%;
  background: #86D3F4;
  border-top-left-radius: 3px;
}

.panelHeader {
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #000000;
}

.phone {
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  color: #000000;
}

.infoText {
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 0 16px;
}

.ScreenKeyboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  width: 284px;
  height: 278px;
}

.KeyboardKey {
  min-width: 88px;
  padding: 12px 30px 12px 30px;
  border: 2px solid #000000;
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}

.KeyboardKey:nth-of-type(10) {
  width: 186px;
}

.keyActive, .KeyboardKey:focus, .KeyboardKey:active, .KeyboardKey:hover{
  background: #000000;
  color: #FFFFFF;
  border: none;
}

.AgreeCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 284px;
  height: 52px;
}

.inputWrapper {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 2px solid #000000;
}

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
}

.radio:checked {
  background-image: url('../public/images/checkMark.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.labelRadio {
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #565656;
  text-align: left;
  margin-left: 20px;
  cursor: pointer;
}

.ButtonConfirmNumber {
  width: 284px;
  height: 52px;
  background: inherit;
  border: 1px solid #4E4E4E;
  cursor: pointer;
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #4E4E4E;
}

.ImageInfoBlock {
  width: calc(100% - 380px);
  height: 100%;
  background-image: url('../public/images/boyAndDog.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.CancelButton {
  position: absolute;
  Width: 88px;
  Height: 52px;
  right: 1.56%;
  top: 2.78%;
  border: 2px solid #000000;
  background: #FFFFFF url('../public/images/cancelButton.png') no-repeat center;
  background-size: cover;
  cursor: pointer;
}

.CancelButton:focus, .CancelButton:hover {
  border: none;
}

.qrCodeInfo {
  position: absolute;
  width: 314px;
  height: 110px;
  left: 926px;
  top: 570px;
}